
@{
    ViewBag.Title = "Index3";
}

<h2>Index3</h2>

@Html.ActionLink("Index Sayfası", "Index")<br />
@Html.TextBox("text2", "Adınız")<br />
@Html.TextArea("textarea1", "Özgeçmiş özetiniz",8,30,null)<br />
<input id="button1" name="button1" type="button" value="Bana Tıkla"><br />

