
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    string FirstName = "Özgür";
    string LastName = "Özgür";
    string FullName = FirstName + " " + LastName;

    @* Here is Comment Row
        <ul>
            <li>
                @FirstName
            </li>
            <li>
                @LastName
            </li>
            <li>
                <i>
                @FullName
                </i>
            </li>
        </ul>
    *@
}

<hr />

@*@FirstName
</br>
@LastName
</br>
<b>@FullName</b>*@